{% extends 'layout.twig' %}
{% block body_class %}collections{% endblock body_class %}

{% block body %}
<section class="featured-block intro-collections text-center">
  <div class="container">
    <h1 class="title">{{ page_title }}</h1>
  </div>
</section>
<br class="hidden-xs"><br class="hidden-xs">
<section class="collections-list">
  <div class="container">
    <div class="row">
      {% for collection in collections %}
      {% set collection_image_url = collection.image_url is not empty ? collection.image_url ~ '&w=350&h=350&fit=crop' : 'placeholders/product-11.jpg' | global_img_url %}
      <div class="thumbnail-container">
        <a class="thumbnail" href="/colecciones/{{ collection.permalink }}">
          <figure class="thumbnail-img">
            <img src="{{ collection_image_url }}" alt="{{ collection.title }}">
          </figure>
          <div class="caption">
            <div class="product-title"><h3>{{ collection.title }}</h3></div>
            <div class="product-price"><p>{{ collection.products | length }} Productos</p></div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <br><br>

  <div class="clearfix"></div>
  {% include '_pagination.twig' %}
</section>
{% endblock body %}
