{% extends 'layout.twig' %}
{% block body_class %}category products{% endblock body_class %}
{% block body %}
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-10 col-md-offset-1">
      <article class="product-single">
        <div class="row">
        {% if product.images | length > 0 %} {# if has more images #}
          <section class="product-media">
            <div id="sp-img-full">
            {% if settings.enable_product_image_zoom %}
              <div class="fireZoomEvent"><span>{{ settings.product_image_zoom_in_text }}</span></div>
            {% endif %}
              <figure class="item">
                <img id="zoom" class="full-img-width" src="{{ product.image_url ~ '&w=1200' }}" alt="{{ product.title }} - {{ store.name }}" itemprop="thumbnail">
              </figure>
            </div>
            {% if product.images | length > 1 %}
              <div id="slider-sp-img-thumbs" class="owl-carousel owl-theme fouc">
              {% for image in product.images %}
                <figure class="item">
                  <img class="thumbnail-img-width BBBB" src="{{ image.url ~ '&w=1200' }}" alt="{{ product.title }} - {{ store.name }}" data-src="{{ image.url ~ '&w=1200' }}" itemprop="thumbnail">
                </figure>
              {% endfor %}
              </div>
            {% endif %}
          </section>
        {% else %}
          <section class="product-media">
            <div id="sp-img-full">
            {% if settings.enable_product_image_zoom %}
              <div class="fireZoomEvent"><span>{{ settings.product_image_zoom_in_text }}</span></div>
            {% endif %}
              <img class="img-responsive full-img-width" src="{{ 'placeholders/product-11.jpg' | global_img_url }}" alt="{{ product.title }} - {{ store.name }}" itemprop="thumbnail">
          </section>
        {% endif %} {# end if has images #}
          <div class="product-info">
            <section class="product-details">
              <h1 class="product-title">{{ product.name }}</h1>
              {% if product.vendor and settings.show_vendor_name %}
              <p class="product-brand">{{ product.vendor.name }}</p>
              {% endif %}
              {% if settings.show_sku_code and product.sku.code is not empty %}
              <p class="product-sku-code js-sku-code"><small>SKU: <strong>{{ product.sku.code }}</strong></small></p>
              {% endif %}
              <div class="product-price">
                <span class="regular-price js-product-price-amount">
                  {{ product.price | money('symbol', 'code') }}
                </span>
                <span class="compared-price js-product-price-compared-amount">  {{ product.sku.compared_price > product.sku.price ? product.sku.compared_price | money('symbol') }}
                </span>
              </div>
            </section>
            <br>
            <section class="product-options">
              <form class="prod_atc" action="/carrito/agregar" method="post">
                <input id="js-sku-new" type="hidden" name="sku_id" value="{{ product.sku.id }}">
                <div class="row">
                {% set modifiers = product.skus_modifiers %}
                {% if  modifiers |length > 0 %}
                  {% for modifier, options in modifiers %}
                    {% set step = loop.index0 %}
                    {% set default_option = options[step] %}
                    <div class="col-xs-6 col-sm-6 product-selector-option">
                      <select id="{{ modifier }}" class="selectpicker form-control js-variant-select" title="{{ modifier }}" name="{{ loop.index0 }}">
                        <option value="" disabled>{{ modifier | title }}</option>
                      {% for option in options %}
                        <option value="{{ loop.index0 }}" {% if default_option == option %}selected="selected"{% endif %}>{{ option }}</option>
                      {% endfor %}
                      </select>
                    </div>
                  {% endfor %}
                {% endif %}
                  <div class="col-xs-6 col-sm-6 product-selector-option">
                    <div class="quantity">
                      <div class="input-group">
                        <input id="quantity" type="text" name="quantity" class="form-control input-number" value="1" min="1" max="10">
                        <span class="input-group-btn left">
                          <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="quantity">
                          <span class="zmdi zmdi-minus"></span>
                          </button>
                        </span>
                        <span class="input-group-btn right">
                          <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="quantity">
                          <span class="zmdi zmdi-plus"></span>
                          </button>
                        </span>
                        </div>
                    </div>
                  </div>
                {% if product.is_in_stock %}
                  <div class="col-xs-12 product-selector-option">
                    <a id="js-add-to-cart" class="btn btn-lg btn-add-to-cart js-atc js-add-to-cart"><i class="zmdi zmdi-shopping-cart"></i> &nbsp;Añadir a tu carrito</a>
                    <a type="submit" class="btn-lg btn-add-to-cart js-atc-disabled" disabled="disabled">
                      No disponible
                    </a>
                  </div>
                {% else %}
                  <div class="col-xs-12 product-selector-option">
                    <button class="btn-lg btn-add-to-cart js-atc-disabled" disabled="disabled">
                      No disponible
                    </button>
                  </div>
                {% endif %}
                </div>
              </form>
              {% if settings.enable_share_products %}
              <br>
              <div class="product-social-share">
                {% include '_social-share.twig' %}
              </div>
              {% endif %}
            </section>
            {% if product.description is not empty %}
            <hr>
            <div class="product-description col-xs-12">
              {{ product.description|raw }}
            </div>
            {% endif %}
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
{% endblock body %}

{% block js_body %}
{{ parent() }}
{% if settings.enable_product_image_zoom %}
{{ '//cdnjs.cloudflare.com/ajax/libs/jquery-zoom/1.7.18/jquery.zoom.min.js' | script_tag }}
{% endif %}

<script type="text/javascript">
  var removeMainImgContainerHeight = function() {
      $('#sp-img-full figure.item').removeAttr("style");
    }
  var setMainImgContainerHeight = function() {
    var mainImgContainerHeight = $('#sp-img-full figure.item').outerHeight();
    $('#sp-img-full figure.item').css({ 'min-height': mainImgContainerHeight });
  }
  setMainImgContainerHeight();

{% if settings.enable_product_image_zoom %}
  var zoomInText = '{{ settings.product_image_zoom_in_text }}';
  var zoomOutText = '{{ settings.product_image_zoom_out_text }}';
  var loadZoom = function() {
    $('#zoom').wrap('<span style="display:block"></span>')
      .css('display', 'block')
      .parent()
      .zoom({
        on: 'click',
        touch: false,
        onZoomIn: function() {
          $('.fireZoomEvent span').text(zoomOutText);
        },
        onZoomOut: function() {
          $('.fireZoomEvent span').text(zoomInText);
        }
      })
    }
  loadZoom();
{% endif %}
  // Quantity input
  var qty = $("input#quantity");
  $('.btn-number').click(function(e){
    e.preventDefault();
    fieldName = $(this).attr('data-field');
    type      = $(this).attr('data-type');
    var input = $("input[name='"+fieldName+"']");
    var currentVal = parseInt(input.val());
      if (!isNaN(currentVal)) {
        if(type == 'minus') {
          if(currentVal > input.attr('min')) {
            input.val(currentVal - 1).change();
          }
          if(parseInt(input.val()) == input.attr('min')) {
            $(this).attr('disabled', true);
          }
        } else if(type == 'plus') {
          if(currentVal < input.attr('max')) {
              input.val(currentVal + 1).change();
          }
          if(parseInt(input.val()) == input.attr('max')) {
              $(this).attr('disabled', true);
          }
        }
      } else {
      input.val(0);
      }
  });
  $('.input-number').focusin(function(){
   $(this).data('oldValue', $(this).val());
  });
  $('.input-number').change(function() {
    initValue = parseInt($(this).val());
    minValue =  parseInt($(this).attr('min'));
    maxValue =  parseInt($(this).attr('max'));
    valueCurrent = parseInt($(this).val());
    name = $(this).attr('name');
    if(valueCurrent >= minValue) {
        $(".btn-number[data-type='minus'][data-field='"+name+"']").removeAttr('disabled')
        qty.attr('value', valueCurrent);
    } else {
        $(this).val($(this).data('oldValue'));
        qty.attr('value', $(this).data('oldValue'));
    }
    if(valueCurrent <= maxValue) {
        $(".btn-number[data-type='plus'][data-field='"+name+"']").removeAttr('disabled');
        qty.attr('value', valueCurrent);
    } else {
        $(this).val($(this).data('oldValue'));
        qty.attr('value', $(this).data('oldValue'));
    }
  });
  // End quantity input
  // Update Social Share Links
  var title = '{{ product.name | escape }}';
  var updateShareUrl = function(image_url) {
    var image_url = image_url || '';
    var permalink = $(location).attr('href');
    var social_brands = ["facebook", "twitter", "pinterest", "google"];
    $.each(social_brands, function (index, value) {
      if (value == 'facebook') {
        $('.share-'+value).attr("href", '//www.facebook.com/sharer.php?u='+permalink);
      }
      if (value == 'twitter') {
        $('.share-'+value).attr("href", '//twitter.com/share?text='+title+'&url='+permalink);
      }
      if (value == 'pinterest' && image_url.length > 1) {
        $('.share-'+value).attr("href", '//pinterest.com/pin/create/button/?url='+permalink+'&media='+image_url+'&description='+title);
      }
      if (value == 'google') {
        $('.share-'+value).attr("href", '//plus.google.com/share?url='+permalink);
      }
    });
  }
{% if product.is_in_stock %}
  var skus = {{ product.skus | json }};
  $('.js-atc-disabled').hide();
  showSelectedSku();
  function showSelectedSku() {
    // only one sku, no variants to validate
    if (skus.length == 1) {
      return updateSkuControls(skus[0]);
    }
    // get the product variant modifiers from the selects
    var selectedModifiers = [];

    $('.js-variant-select').each(function() {
      selectedModifiers.push($(this).find(":selected").text());
    });

    var foundSku = null;
    // check if there's an sku with the selected modifiers
    skus.forEach(function(sku) {
      var modifiers = sku.modifiers;
      if ($(modifiers).not(selectedModifiers).length === 0 && $(selectedModifiers).not(modifiers).length === 0 ) {
        foundSku = sku;
        return false;
      }
    });

    selectedModifiers = selectedModifiers.length = 0;
    return updateSkuControls(foundSku);
  }

  function updateSkuControls(sku) {
    var newImageMain = sku.image_url;
    var newurl = sku.permalink;
  {% if product.sku.permalink != 'default' %}
    var parentPermalink = '{{ product.permalink }}';
    var newurl = '/productos/';
    newurl += parentPermalink+'/'+sku.permalink;
    if(history.pushState) {
      history.pushState(null, null, newurl);
    }
    updateShareUrl(newImageMain);
    setMainImgContainerHeight();
  {% endif %}
    var enabledAddButton = $('.js-atc');
    var disabledAddButton = $('.js-atc-disabled');
    var comparedPriceElement = $('.js-product-price-compared-amount');
    var imageMain = $('#sp-img-full .item');
    imageMain.find('img').attr('src', newImageMain);

    if (sku !== null) {
      if (sku.stock_policy !== 'none' && sku.in_stock < 1) {
        sku = null;
      }
    }
    if (sku !== null) {
      disabledAddButton.hide();
      enabledAddButton.show();
      $('input[name=sku_id]').val(sku.id);
      $('.js-product-price-amount').html(formatPrice(sku.price));
      if (sku.compared_price > sku.price ) {
        comparedPriceElement.html(formatPrice(sku.compared_price)).show();
      } else {
        comparedPriceElement.hide();
      }
    } else {
      disabledAddButton.show();
      enabledAddButton.hide();
      //comparedPriceElement.hide();
    }
    return sku;
  }

  function formatPrice(price) {
    price /= 100;
    price = price.toFixed(2);
    price = price.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    return '$ ' + price + ' {{ store.currency }}';
  }
  $('.js-variant-select').change(function() {
    showSelectedSku();
  });
{% endif %}
$(document).ready(function(){
  $('.selectpicker').selectpicker({
    style: 'btn'
  });
  var imgCont = $('.product-single #sp-img-full'),
    thumbCont = $('#slider-sp-img-thumbs'),
    owlItem = $('.owl-item');

    thumbCont.owlCarousel({
      margin: 3,
      nav:false,
      responsiveBaseElement: '.wrapper__main-content',
      responsiveClass:true,
      responsive: {
        0: {
            items: 3
        },
        700: {
            items: 4
        }
      }
    }).on('click', '.owl-item .item', function(e) {
      e.preventDefault();
      //** Cambiar imagen grande por la del thumb
      var thumbSrc = $(e.target).attr('data-src'); // Imag del figure clickeado
      imgCont.find('.product-single #sp-img-full figure img').attr('src', thumbSrc); // Sustituir

      {% if settings.enable_product_image_zoom %}
        imgCont.find('#sp-img-full .item img').attr('src', thumbSrc);
        var zoom = $('#zoom');
        if (thumbSrc && $('.zoomImg').attr('src') != thumbSrc) {
          zoom.trigger('zoom.destroy');
          zoom.attr("src", thumbSrc);
          loadZoom();
        } else {
          zoom.attr("src", thumbSrc);
        }
      {% endif %}
    });
  });

  $(window).on('resize', function () {
    removeMainImgContainerHeight();
  });
</script>
{% endblock js_body %}
